

section {
    margin: 0;
    height: 70vh;

    display: flex;
    justify-content: center; 
    align-items: center;
}



.contact-area {
    padding: 20px;
    width: 30%;
    height: auto;
    box-shadow: 0 0 15px #3a3a3a;
}

.mensage-contact {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 30px;

    
}

.form-input {
    width: 80%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #000000;
    

    
}

input {
    border-radius: 50px;
}

textarea {
    border-radius: 25px;
}

button {
    width: 10;
    padding: 0px;
}


@media screen and (max-width: 950px) {
    
    .contact-area {
        width: 70%;
    }



}