

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr)); /* Organiza automaticamente grip usando tamanho especifico */
    gap: 20px;       /* Espaço entre blocos */
    margin: 20px;
}

.box {
    display: flex;
    align-items: center;
    box-shadow: 1px 3px 6px 2px rgb(126, 126, 126);
    
}

.item {
    padding: 10px;
}

.institution {
    font-size: 23px;
}

.course {
    font-size: 18px;
}


@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Organiza automaticamente grip usando tamanho especifico */
        gap: 20px;       /* Espaço entre blocos */
        margin: 20px;
    }
}