

h1 {
    margin: 100px auto ;
    text-align: center;
    font-size: 80px;
}


.about-me {
    font-size: 25px;
    padding-inline: 10%;
    text-align: justify;
}


.container {
    margin: 15px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}


@media screen and (max-width: 690px) {

    h1 {
        margin: 50px auto ;
        font-size: 50px;
    }

    .about-me {
        font-size: 20px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        font-size: 24px;
        gap: 40px;
    }
    
}


