
h3 {
    padding-top: 15px;
    justify-content: center;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 20px;       
    margin: 20px;
}

.box {
    display: flex;
    align-items: center;
    box-shadow: 1px 3px 6px 2px rgb(126, 126, 126);
    flex-direction: column;
    
}

.box img {
    margin: 10px;
    width: 20vh;
    
}

.box hr {
    border: none;
    height: 2px;
    background-color: rgb(158, 158, 158);
    width: 90%;
}


.box p {
    padding: 15px;
    font-size: 18px;
    color: rgb(44, 44, 44);

}